.filter {
    display: flex;
    flex-wrap: wrap;
}

.filterTitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 20px;
}

.item {
    background-color: transparent;
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    transition: 0.3s ease;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: rgb(251, 186, 0);
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
}
.item.active {
    color: #fff;
    background-color: rgb(227, 6, 19);
}
.item:hover {
    color: #fff;
    background-color: rgb(190, 0, 13) !important;
}

